/* 
:root{
    --color-hue: 218;
    --color-primary: hsl(var(--color-hue), 49%,43%);
    --color-primary-light: hsl(var(--color-hue), 49%, 50%);
    --color-body: hsl(var(--color-hue), 49%, 96%);
    --color-text: hsl(var(--color-hue), 20%, 20%);
}
.dark-mode{
    --color-primary: hsl(var(--color-hue), 49%, 48%);
    --color-primary-light: hsl(var(--color-hue), 49%, 50%);
    --color-body: hsl(var(--color-hue), 49%, 10%);
    --color-text: hsl(var(--color-hue), 20%, 90%)
}

body main{
    margin: 0 auto;
    max-width: 80%;
}

body main{
    width: 100%;
    height: 100vh;
    background: var(--color-body);
    font-family: sans-serif;
}
p{
    color: var(--color-text );
    margin: 1rem;
    font-size: 1.5rem;
}



h1{
    font-size: 3rem;
    margin: 1rem;
    color: var(--color-primary);
}
.toggle-mode{
    margin: 1rem;
    border: none;
    outline: none;
    font-size: inherit;    
    padding: 1rem 1.5rem;
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
    transition: 0.3s background;
}
.toggle-mode:hover{
    background: var(--color-primary-light);
}
.btn{
    text-align: end;
}
 */
